h1 {
    color: blue;
}
h3 {
    color: red;
    font-size: 150%;
}
p {
    font-style: italic;
}
#imagen{
    border-color: blue;
    border: 10px;
    border-style: double;
    border-radius: 10%;
}
h4 {
    font-style: oblique;
    color: orange;
}
ul {
    color: grey;
}
#tituloForm {
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}